<div class="dialog-container">
    <h2>
        <mat-icon class="success-icon">check_circle</mat-icon>
        Payment Received
    </h2>
    <div class="dialog-content">
        <!-- <p class="status">From: {{boltTransaction.sender}}</p> -->
        <p class="tx-id">
            From: <span class="mono">{{boltTransaction.sender}}</span>
            <br>
            <br>
            Transaction ID: <span class="mono">{{boltTransaction.txId}}</span>
        </p>
        <div class="status-info">
            <p>
                You received {{boltTransaction.amount | tokenAmount:'sBTC'}} BTC
                <!-- You can verify it on chain using the link below: -->
            </p>
            <!-- <a [href]="uri" target="_blank" class="explorer-link">
                View transaction on chain
                <mat-icon>open_in_new</mat-icon>
            </a> -->
        </div>

        <button class="btn-primary" (click)="onComplete()">OK</button>
    </div>
</div>