<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Contribute & Feedback</h3>
      <p>Help us improve Bolt Protocol by sharing your experience and suggestions.</p>
      <div class="social-links">
        <a [href]="githubUrl" target="_blank" rel="noopener noreferrer" class="social-link">
          <!-- <mat-icon svgIcon="github"></mat-icon> -->
          <span>GitHub Repository</span>
        </a>
        <a [href]="xAccountUrl" target="_blank" rel="noopener noreferrer" class="social-link">
          <span>Follow us on </span>
          <span class="social-icon">
            <i class="fab fa-x-twitter"></i>
        </span>
        </a>
      </div>
    </div>
    <div class="footer-section feedback">
      <p class="feedback-text">
        We value your feedback! Reach out to us on X to share your thoughts and help us improve the protocol.
      </p>
    </div>
    <div class="footer-section copyright">
      <p class="copyright-text">
        © 2025 Bolt Protocol. All rights reserved.
      </p>
    </div>
  </div>
</footer>
